body {
  min-width: 320px;
}

.container {
  box-sizing: border-box;
  width: 320px;

  padding-left: 24px;
  padding-right: 24px;

  padding-top: 120px;
  padding-bottom: 60px;

  margin: 0 auto;
}

.key-ideas {
  &__title {
    font-size: 30px;
    font-weight: 400;

    margin-bottom: 70px;
  }

  &__item {
    padding-top: 40px;
    padding-bottom: 48px;
  }
  &__item-number {
    font-size: 21px;
    line-height: 32px;
    color: #c3cacb;
  }

  &__item-title {
    margin-top: 24px;
    margin-bottom: 18px;

    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    width: $breakpoint-tablet;

    padding-left: 48px;
    padding-right: 48px;

    padding-top: 120px;
  }

  .key-ideas {
    &__title {
      font-size: 50px;
      line-height: 65px;

      padding-left: 64px;
      padding-right: 64px;
    }

    &__item {
      padding-left: 64px;
      padding-right: 64px;
    }

    &__item-number {
    }

    &__item-title {
      font-size: 21px;
      line-height: 39px;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    width: $breakpoint-desktop;

    padding-left: 108px;
    padding-right: 108px;
  }

  .key-ideas {
    &__items {
      display: flex;
      justify-content: center;
    }

    &__title {
      padding-left: 0;
    }

    &__item {
      //outline: 1px solid gray;

      width: 33.3%;
      flex-grow: 1;

      min-height: 490px;
      box-sizing: border-box;

      padding-top: 64px;
      padding-bottom: 37px;

      padding-left: 44px;
      padding-right: 44px;

      display: flex;
      flex-direction: column;

      &:hover {
        color: #fff;
        background-color: #4562c9;
        transition: background-color 200ms ease-in;
      }

      &:hover .key-ideas__item-number {
        color: #fff;
      }
    }

    &__item-number {
      order: 1;

      margin-top: auto;
    }

    &__item-title {
      font-size: 28px;
      line-height: 44px;
      margin-bottom: 34px;
    }

    &__item-text {
      letter-spacing: -0.4px;
      margin-bottom: 48px;
    }
  }
}

@media (min-width: $breakpoint-desktop-lg) {
  .container {
    width: $breakpoint-desktop-lg;

    padding-left: 245px;
    padding-right: 245px;
  }

  .key-ideas {
    &__title {
    }

    &__item {
      padding-left: 54px;
      padding-right: 54px;
    }

    &__item-number {
    }

    &__item-title {
    }
  }
}
